<!DOCTYPE HTML5>
{@
	key as string;
@}
<html>
	<head>
		<title>Viewing bounce of '{=key=}'</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	</head>
	<body>
		<div>data will show up below</div>
		<div id="output"></div>
<script type="text/javascript">
var refresh=function(){
	$.getJSON('/bounce/dequeue/{=key=}', function(data) {
	  for(var i=0;i<data.length;i++)
	  {
	    $('#output').append('<div id="data">' + data[i] + '</div>');
	  }
	 
	  setTimeout(refresh, 15*1000);
	});
};
refresh();
</script>
	</body>
</html>
