{!layout LayoutView!}{!layout_field Content!}
{@
	key as string;
@}
{!init Layout.Title="Viewing bounce of '"+key+"'"; !}
		<div>data will show up below</div>
		<div id="output"></div>
<script type="text/javascript">
String.prototype.escape = function() {
    var tagsToReplace = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;'
    };
    return this.replace(/[&<>]/g, function(tag) {
        return tagsToReplace[tag] || tag;
    });
};

var refresh=function(){
	$.getJSON('/bounce/dequeue/{=key=}', function(data) {
	  for(var i=0;i<data.length;i++)
	  {
	    $('#output').append('<div id="data">' + data[i].escape() + '</div>');
	  }
	 
	  setTimeout(refresh, 15*1000);
	});
};
refresh();
</script>
